<%- model_class = Employee -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:emp_id) %>:</strong></dt>
  <dd><%= @employee.emp_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:emp_name) %>:</strong></dt>
  <dd><%= @employee.emp_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:designation) %>:</strong></dt>
  <dd><%= @employee.designation %></dd>
  <dt><strong><%= model_class.human_attribute_name(:adress) %>:</strong></dt>
  <dd><%= @employee.adress %></dd>
  <dt><strong><%= model_class.human_attribute_name(:salary_type) %>:</strong></dt>
  <dd><%= @employee.salary_type %></dd>
  <dt><strong><%= model_class.human_attribute_name(:salary) %>:</strong></dt>
  <dd><%= @employee.salary %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              employees_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_employee_path(@employee), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              employee_path(@employee),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
