<td><%= bill_date_time %></td>
<td><%= hall_no %></td>
<td><%= last_paid_amt %></td>
<td><%= this_time_pay %></td>
<td><%= till_now_paid %></td>

<td><a href="#/<%= id %>">Show</td>
<td><a href="#/<%= id %>/edit">Edit</td>
<td><a href="#/<%= id %>/destroy" class="destroy">Destroy</a></td>