<h1>New college_fee</h1>

<form id="new-college_fee" name="college_fee">
  <div class="field">
    <label for="bill_date_time"> bill_date_time:</label>
    <input type="text" name="bill_date_time" id="bill_date_time" value="<%= bill_date_time %>" >
  </div>

  <div class="field">
    <label for="hall_no"> hall_no:</label>
    <input type="text" name="hall_no" id="hall_no" value="<%= hall_no %>" >
  </div>

  <div class="field">
    <label for="last_paid_amt"> last_paid_amt:</label>
    <input type="text" name="last_paid_amt" id="last_paid_amt" value="<%= last_paid_amt %>" >
  </div>

  <div class="field">
    <label for="this_time_pay"> this_time_pay:</label>
    <input type="text" name="this_time_pay" id="this_time_pay" value="<%= this_time_pay %>" >
  </div>

  <div class="field">
    <label for="till_now_paid"> till_now_paid:</label>
    <input type="text" name="till_now_paid" id="till_now_paid" value="<%= till_now_paid %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create College fee" />
  </div>

</form>

<a href="#/index">Back</a>