<p>
  <b>Bill date time:</b>
  <%= bill_date_time %>
</p>

<p>
  <b>Hall no:</b>
  <%= hall_no %>
</p>

<p>
  <b>Last paid amt:</b>
  <%= last_paid_amt %>
</p>

<p>
  <b>This time pay:</b>
  <%= this_time_pay %>
</p>

<p>
  <b>Till now paid:</b>
  <%= till_now_paid %>
</p>


<a href="#/index">Back</a>