<%= simple_form_for(:move_class, :remote => true,:url => create_model_name_attendences_path(@move_class), :html => { :class => 'form-horizontal' ,:method => :put}) do |f|%>
<br />
   <label class="string optional control-label" for="attedence_year">Year</label>
    <div class="controls">
  <div class="control-group string optional attedence_year">
      <%= f.select :year, options_from_collection_for_select(@year, 'id', 'year'), {:prompt=>true} %>
  </div>
</div>
 <div class="right_side">
    <label class="string optional control-label" for="attedence_group">Group</label>
    <div class="controls">
        <div class="control-group string optional attedence_group">
           <%= f.select :group, "",{:prompt=>true} %>
        </div>
  </div>
</div>
 <label class="string optional control-label" for="attedence_att_date">Att-Date</label>
      <div class="controls">
        <div class="control-group string optional attedence_att_date">
           <%= f.text_field :date, :readOnly=>true, :value=>Date.today %><%= calender('attedence_date') %>
        </div>
    </div>
    <div id="s_table"></div>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
  </div>
<% end %>

<script type="text/javascript">          
var CC = {
  get_groups_years: function(type,obj,target){
    $('#'+target).empty();
    $.ajax({
      url: '<%= url_for(:controller=>:all_registrations, :action=>:get_groups_years) %>',
      type: "GET",
      data: { "category": jQuery(obj).val(),'type':type},
      dataType: "json",
      success: function (data) {
        $.each(data, function(i, item) {
          $('#'+target).append($("<option></option>").attr("value",i).text(item));
        });
      }
    });
  }
}
$('#move_class_group').on('change',function(){
   move_class()
})
$('#move_class_year').on('change',function(){
   move_class()
})
function move_class(){
  $.ajax({
    url: '<%= url_for(:controller=>:attendences, :action=>:get_attendence_sheet) %>',
    type: "GET",
    data: { "year": $('#move_class_year').val(), "group": $('#move_class_year').val(),"form_name":"move_class"},
    dataType: "html",
    success: function (data) {
      document.getElementById("s_table").innerHTML=data
    }
  });
}
</script>